#container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
  color: rgb(255, 255, 255);
  pointer-events: none;
}

#img-eu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
}

#eu {
  width: 250px;
  height: 250px;
  border-style: groove;
  border-radius: 0%;
  position: relative;
  animation-name: euAnimation;
  animation-duration: 3s;
}

#ola {
  font-size: 80px;
  font-family: 'Lobster', sans-serif;
  margin: 20px 0;
}

#resumo {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
}

/*
  ********SKILS********
*/
#skills {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
  margin-top: 50px;
}

#skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.skill {
  font-size: 30px;
  margin: 0 20px;
}

@keyframes euAnimation {
  0%   {left:-1000px; top:0px;}
  100%  {left:0px; top:0px;}
}