header {
  margin: 0;
  padding: 0;
  width: 100%;
}

#navbar {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 20px 0;
  padding-left: 0;
  width: 100%;
  background-color: rgba(78, 78, 78, 0.973);
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#navbar li {
  padding: 0 30px;
}

#navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
